{% extends 'temp/admin.html' %}
{% block base %}


<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<h1>VIEW ORDER</h1>
		<table border="1" width="70%">
			<tr class="btn-primary" height=50px>
				<th>User Name</th>
				<th>Product</th>
				<th>Quantity</th>
				<th>Delivery Date</th>
				<th>Delivery Time</th>
                <th>Phone</th>
			</tr>
            {% for i in x %}
			<tr>
				<td>{{ i.r.name }}</td>
				<td>{{ i.p.p_name}}</td>
				<td>{{ i.quantity }}</td>
				<td>{{ i.date }}</td>
				<td>{{ i.time }}</td>
            <td>{{ i.r.phone }}</td>
			</tr>
            {% endfor %}
		</table>
	</center>

</body>
</html>
{% endblock %}